@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Main_Layout_.cshtml";
}

@Scripts.Render("~/bundles/morris")
@Styles.Render("~/Content/datatables")
@Scripts.Render("~/bundles/datatables")



<style>
    #pie-report{
        top: -50px; 
        position: relative;
    }
</style>
<div id="search_report">

    <div id="stat_view_by">
        <select class="form-control">
            <option>Day</option>
            <option>Week</option>
            <option>Month</option>
            <option>Year</option>
        </select>
    </div>
</div>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2>Reports</h2>
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs">
            <li class="active">
                <a href="#graph_stats" data-toggle="tab">Graph StaticsView</a>
            </li>
            <li>
                <a href="#student_report" data-toggle="tab">Student Report</a>
            </li>
            
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div class="tab-pane fade in active" id="graph_stats">
               
                <!--<div id="graph_view">  <h4>Graph View</h4>-->
                    <div class="">

                        <div class="col-lg-3">
                            <div class="table-responsive">
                                <table class="table table-bordered table-hover table-striped">
                                    <thead>
                                        <tr>
                                            <th style="width:150px">Grant Type</th>
                                            <th style="width:50px">Color</th>


                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Hardship</td>
                                            <td style="background-color:#FFE600"></td>
                                        </tr>
                                        <tr>
                                            <td>Train Tickets</td>
                                            <td style="background-color:#223EB2"></td>
                                        </tr>
                                        <tr>
                                            <td>Food</td>
                                            <td style="background-color:#FF8000"></td>
                                        </tr>
                                        <tr>
                                            <td>Petrol</td>
                                            <td style="background-color:#95D7BB"></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- /.table-responsive -->
                            <div class="btn-group" style="z-index: 100;">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    Other Graphs
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu pull-right" role="menu">
                                    <li>
                                        <a id="pie_faculty_chart" href="#">Faculty Chart</a>
                                    </li>
                                    <li>
                                        <a id="pie_grant_chart" href="#">Grant Chart</a>
                                    </li>

                                    <li class="divider"></li>
                                    <li>
                                        <a id="" href="#">Reload</a>
                                    </li>
                                </ul>
                            </div>
                            <div id="pie-report"></div>

                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <i class="fa fa-bar-chart-o fa-fw"></i> Graph Overview
                                    <div class="pull-right">
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                                Other Graphs
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu pull-right" role="menu">
                                                <li>
                                                    <a id="bar_graph_switch" href="#">Bar Graph</a>
                                                </li>
                                                <li>
                                                    <a id="area_graph_switch" href="#">Area Graph</a>
                                                </li>

                                                <li class="divider"></li>
                                                <li>
                                                    <a id="reload_graph_over" href="#">Reload</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- /.panel-heading -->
                                <div class="panel-body">
                                    <div id="main-report" class=""></div>
                                </div>

                                <!-- /.panel-body -->
                            </div>
                        </div>


                    </div>
                <!--</div>-->



            </div>
            <div class="tab-pane fade" id="student_report">
                <h4>Record Views</h4>
                @Html.Partial("~/Views/Reports/ViewReport.cshtml")
            </div>
            
            
        </div>
    </div>
</div>


    <script>
        var graph_data = [];
        var pie_chart_value = [];
        var pie_chart_faculty = [];

        function getMainOveriew() {
            $.ajax({
                url: "/Reports/MainReport",
                type: "GET",
                dataType: "json",
                success: function (data) {

                    console.log("data.pie_chart_value", data)
                    if (data.success == true) {
                        //check main report data
                        if (typeof data.main_report != "undefined" && data.main_report != null)
                            mainReport(data.main_report);

                        if (typeof data.pie_chart_value != "undefined" && data.pie_chart_value != null) {
                            pieChartValue(data.pie_chart_value);
                            pie_chart_value = data.pie_chart_value;
                        }

                        if (typeof data.pie_chart_value != "undefined" && data.pie_chart_faculty != null) {
                            pie_chart_faculty = data.pie_chart_faculty;
                            //pieChartValue(data.pie_chart_faculty);
                        }

                        if (typeof data.student_grants != "undefined" && data.student_grants != null) {
                            console.log("student_grants", data.student_grants)
                            //pieChartValue(data.pie_chart_faculty);
                        }

                    }
                }
            });
        }



        function mainReport(data) {
            console.log("mainReport running", data)
            var report_data = [];
            var index = 0;

            $.map(data, function (reportData) {
                //console.log("reportData", reportData.GrantType)
                //fix the date conversion by just parsing the date time
                var thedate = new Date(parseInt(reportData.DateOfIssue.substr(6)));
                //2012-02-24
                thedate = thedate.getFullYear() + "-" + (thedate.getMonth() + 1) + "-" + thedate.getDate();

                var data = {
                    'date': thedate,
                    'index': index++
                }
                //add the key as a type name to data object
                data[reportData.GrantType] = reportData.GrantValue;
                report_data.push(data)
            })

            //store graph data for switching from bar graph
            graph_data = report_data;
            areaGraphOverview();


        }

        function pieChartValue(data) {
            console.log("pieChartValue running", data)
            $("#pie-report").empty();
            var report_data = [];
            var data_display = $(this).attr("id");
            var colors = ['#FFE600', '#223EB2', '#FF8000', '#95D7BB']

            if (typeof data_display != "undefined") {
                //change the data to process
                data = (data_display == "pie_faculty_chart") ? pie_chart_faculty : pie_chart_value;
                //colors = ['#FFE600'];
            }

            console.log("data_display", data_display)



            var index = 0;
            $.map(data, function (reportData) {

                report_data.push(reportData)
            })
            //donutReport(report_data);
            Morris.Donut({
                element: 'pie-report',
                data: report_data,
                colors: colors,
                formatter: function (x) { return "$" + x }
            });
        }
        function barGraphOverview() {
            console.log("running barGraphOverview");
            $("#main-report").empty();
            Morris.Bar({
                element: 'main-report',
                data: graph_data,
                xkey: 'date',
                xLabels: 'day',
                parseTime: false,
                smooth: false,
                ykeys: ["Hardship", "TrainTickets", "Food", "PetrolVouchers"],
                //['Hardship', 'Food', 'TrainTickets'],
                labels: ["Hardship", "Train Tickets", "Food", "Petrol Vouchers"],
                //['Hardship', 'Food Vouchers', 'Train Tickets'],
                ymax: 'auto',
                pointSize: 2,
                hideHover: 'auto',
                resize: true,
                lineColors: [
               '#FFE600',
               '#223EB2',
               '#FF8000',
               '#95D7BB'
                ],
                pointFillColors: ['#00ff00']
            });
        }
        function areaGraphOverview() {
            //cammel case words regex
            /*
            var rex = /([A-Z])([A-Z])([a-z])|([a-z])([A-Z])/g;

            var ykeys = [];
            var labels = [];

            for (key in key_store) {
                ykeys.push(key)
                var label = key.replace(rex, "$1$4 $2$3$5");
                labels.push(label);

            }
            */
            console.log("running areaGraphOverview");
            //report_data
            $("#main-report").empty();
            Morris.Area({
                element: 'main-report',
                data: graph_data,
                xkey: 'date',
                xLabels: 'day',
                parseTime: false,
                smooth: false,
                ykeys: ["Hardship", "TrainTickets", "Food", "PetrolVouchers"],
                //['Hardship', 'Food', 'TrainTickets'],
                labels: ["Hardship", "Train Tickets", "Food", "Petrol Vouchers"],
                //['Hardship', 'Food Vouchers', 'Train Tickets'],
                ymax: 'auto',
                pointSize: 2,
                hideHover: 'auto',
                resize: true,
                lineColors: [
               '#FFE600',
               '#223EB2',
               '#FF8000',
               '#95D7BB'
                ],
                pointFillColors: ['#00ff00']
            });
        }
        //switch graphs binding click event
        $("#bar_graph_switch").click(barGraphOverview);
        $("#area_graph_switch").click(areaGraphOverview)
        $("#reload_graph_over").click(getMainOveriew)
        $("#pie_grant_chart").click(pieChartValue);
        $("#pie_faculty_chart").click(pieChartValue);
        getMainOveriew();
    </script>
