@using StudentFinanceSupport.Helpers
<!DOCTYPE html>

@RenderPage("Template/header.cshtml")
<style>
 

    .form-group .btn {
      
        border-bottom-right-radius:0px;
         border-top-right-radius:0px;
    }
   .form-group input  {
        border-top-left-radius: 0px !important; 
        border-bottom-left-radius: 0px !important;
    }
</style>

<html lang="en">


<body>

    <div id="wrapper">

        <!--render navbar-->
            @RenderPage("Template/navbar.cshtml")

            @RenderBody()


    </div>
    <!-- /#wrapper -->
    <!--These scripts are not needed unless admin-->
    @if (Helpers.UserLoggedIn())
    {
        <!-- Admin Scripts Charts JavaScript -->
        @Scripts.Render("~/bundles/adminScripts")
    }
  
    <!-- This is to remove the internal validation css been adding as im using custom alert boxes-->
    <script>
        //$(".validation-summary-errors").removeClass("validation-summary-errors");
        //$(".input-validation-error").removeClass("input-validation-error").parent().addClass("has-error");
    </script>
</body>
</html>
