@using StudentFinanceSupport.Helpers
<!DOCTYPE html>
<html lang="en">
@RenderPage("Template/header.cshtml")
<body>

    <div id="wrapper">

            <!--render navbar-->
            @RenderPage("Template/navbar.cshtml")


        <div id="page-wrapper">
            <div class="container-fluid">
                
                @RenderBody()

            </div><!--Content Fluid End-->
        </div><!--end page-wrapper-->


    </div>
    <!-- /#wrapper -->
    <!--These scripts are not needed unless admin-->
    @if (Helpers.UserLoggedIn())
    {
        <!-- Admin Scripts Charts JavaScript -->
       
    }
  
    <div class="modal"><!-- Place at bottom of page --></div>
    <!-- This is to remove the internal validation css been adding as im using custom alert boxes-->
    <script>

        $("#nav_search").keyup(function(){

            var valThis = $(this).val();
           
            $('#side-menu li.search').each(function () {
                var text = $(this).text().toLowerCase();
                var sub_menu = $(this).parent().hasClass("nav-second-level");
                //console.log("text", text);
                var theSearch = new RegExp(valThis);

                if (theSearch.test(text)) {
                    
                    if (sub_menu) $(this).parent().removeClass("collapse ")
                   
                    $(this).show()
                } else {
                    if (sub_menu) $(this).parent().addClass("collapse ")
                    $(this).hide()
                }
              
            });
        })
        
    
     </script>
</body>
</html>
