@{
    Layout = "~/Views/Shared/_Main_Layout_.cshtml";
}


   
    <title>Error</title>

    <hgroup>
        <h1 style="color:red">System Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <h4>message : @ViewBag.Message</h4>
        
    </hgroup>
<small>Please contact your system admin</small>
@Html.ActionLink("Back", "Index")