
@{
    ViewBag.Title = "NoAccess";
    Layout = "~/Views/Shared/_Main_Layout_.cshtml";
}

<h2>NoAccess</h2>
Sorry you don't have the correct access level to process this request please contact your system
administrator
