@model StudentFinanceSupport.Models.Faculty

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Main_Layout_.cshtml";
}

<h2>Details</h2>
<button class="btn btn-info back_button">Back</button>
<div>
    <h4>Faculty</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.faculty_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.faculty_name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_faculty }) |
    
</p>
